
.form-control{box-shadow:none;border: 1px solid #bcbcbc;border-radius:0px;height:auto;}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  background: transparent;
}
table.dataTable thead .sorting_asc:after {
  content: "\f0de";
  float: right;
  font-family: fontawesome;
}
table.dataTable thead .sorting_desc:after {
  content: "\f0dd";
  float: right;
  font-family: fontawesome;
}
table.dataTable thead .sorting:after {
  content: "\f0dc";
  float: right;
  font-family: fontawesome;
  color: rgba(50, 50, 50, 0.5);
}
.dataTables_filter {float:right;}
.dataTables_filter label{ font-weight:bold !important;}
#ListUser_page .search_label {font-size:15px;margin-right:5px;font-weight:bold;}
#ListUser_page .listUsers-Search{display:inline-block;width:200px;margin-bottom:0px;}
#ListUser_page .Response-message{margin-top:0px;margin-bottom:0px;}
#ListUser_page .activate{color:#000;font-weight:bold;}
#ListUser_page .deactivate{color:#fff;}

.logout-font{font-size:14px;}

#vendor_details .Update-Mesage{margin-top: 0px;margin-bottom: 0px;color: #000;font-weight: bold;}
.dataTables_filter input{ font-weight:normal;font-size:13px; margin-bottom: 3px;padding:6px;
width:200px;float:left;margin-top:-4px;margin-left:4px;}

ul.detailed-vendor {padding-left:10px;list-style-type:none;}
.table-responsive {border-radius:6px;}
.dataTables_length label { font-weight:bold !important;}
.dataTables_length select{ font-weight:normal;font-size:13px;margin-bottom: 3px;padding:6px;width:50px;float:left;margin-top:-4px;
margin-left:4px;margin-right:4px;}

table th{background-color: #337ab7;color: #fff;}

   .panel-default > .panel-heading{
  color: #cd040b;
    font-size: 24px;
    font-weight: bold;
	}
	
.arrow_up {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 10px solid #ffffff;
	display: inline-block;
	cursor: pointer;
    float: right;
	    position: relative;
    top: 3px;
}

.arrow_down {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid #ffffff;
	display: inline-block;
	cursor: pointer;
    float: right;
	    position: relative;
    top: 5px;
}


.table_popup{padding:2px;border:1px solid #ccc;}
.table_popup table{margin-bottom:0px;font-size: 12px;}
.table_popup table th{background-color:#f0ad4e;}
.pad_b150{padding-bottom:160px;}
.dropbtn {
    padding: 0px 0px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;

}
.float_l{float:left;}

.dropdown-content {
    display: none;
    position: absolute;
    right: 90%;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index:1;
}

table tr:nth-last-child(3) td .dropdown-content  {
    background-color: #f9f9f9;
    bottom: 0px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    display: none;
    min-width: 160px;
    position: absolute;
    right: 100%;
    z-index: 1;
}

table tr:nth-last-child(2) td .dropdown-content  {
    background-color: #f9f9f9;
    bottom: 0px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    display: none;
    min-width: 160px;
    position: absolute;
    right: 100%;
    z-index: 1;
}

table tr:nth-last-child(1) td .dropdown-content  {
    background-color: #f9f9f9;
    bottom: 0px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    display: none;
    min-width: 160px;
    position: absolute;
    right: 100%;
    z-index: 1;
}

.table > thead > tr > th {
    text-align: center;
	font-weight:700;
	font-size: 13px;
    cursor: pointer;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
table.dbreport-inner-table {margin-bottom:0px;background-color:transparent !important;}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.popup_table_header {color:#808080;font-weight:bold;}

.dropdown:hover .dropbtn {

}
.border-rt-model{border-right:1px solid #eeeeee;}


@media(max-width:767px){
.padding-bt45{padding-bottom:45px;}
.border-rt-model{border-right:0px solid #eeeeee;}
ul.detailed-vendor {padding-left:10px;margin-bottom: 15px;list-style-type:none;}
}



@media screen and (min-width: 320px) and (max-width: 480px) {
		.dropdown-content {
			display: none;
			position: absolute;
			right: -99px;
			width: 300px;
		}
		
table tr:nth-last-child(1) td .dropdown-content,
table tr:nth-last-child(2) td .dropdown-content,
table tr:nth-last-child(3) td .dropdown-content  {
    bottom: 18px;
    right: -99px;
    width: 300px;
}
}
